body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  
}
 

.orbitron-banner {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


.edu-nsw-act-cursive-text {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tourney-logo-text {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nova-mono-regular {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.container{
  width: 80% !important;
  margin: auto;
}